* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* main body background colour*/
body {
    background-color: #d9dcd6;
}

/* Navigation text formatting*/
a {
    color: #ffffff;
    text-decoration: none;    
}

/* Generic text formatting*/
p {
    font-size: 16px;
}

/* Page Header formatting*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Website Heading*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Highlight "seo" in website heading text*/
h1 .seo {
    color: #d9dcd6;
}

/* navigation formatting float to right hand side of page*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;    
}

/* Place navigation list in row*/
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Website header picture*/
figure { 
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main page contents formatting*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;    
}

/* Base formatting for main area content*/
.main {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* "Main" Headings"*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Float item to the left*/
.float-left {
    float: left;
    margin-right: 25px;
    height: 200px;
}

/* Float item to the right*/
.float-right {
    float: right;
    margin-left: 25px;
    height: 200px
}

/* Aside content formatting*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Formatting for aside sections*/
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Aside Headings*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Image formatting for aside area*/
.aside_image {
    display: block;
    margin: 10px auto;
    width: 150px;
}

/* Footer Formatting*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Footer Heading*/
h4 {
    font-size: 20px;
}